<div class="modal-header">
  <h4 class="modal-title">Secret</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p [hidden]="!secret"><b>Secret:</b> {{secret}}</p>
  <p [hidden]="!secret"><b>Refresh date:</b> {{next | date:'short'}}</p>
  <p [hidden]="secret">Waiting for secret...</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-info" (click)="getSecret()">Update</button>
  <button type="button" class="btn btn-outline-info" (click)="refreshSecret()">Force refresh</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
    Close
  </button>
</div>