<span class="wrapper">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink='/login' routerLinkActive='active'>Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/signup' routerLinkActive='active'>Signup</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</span>